@charset "utf-8";
/* CSS Document */

html,body
{
    height: 100%;
}

#page-title
{
    background-color: blue;
    height: 20%;
}

#page-footer
{
    background-color: blue;
    height: 20%;
}

#body1, #body2
{
    height: 80%;
}

#body2
{
    display: none;
}
